nav{
    width: 100%;
    color: white;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.logo{
    list-style: none;
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}
.button{
    background-color: white;
    color: rgb(4, 5, 59);
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.menu{
    background: #0f0e49;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

@media (max-width:1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
  }
@media (max-width:840px){
    nav{
        padding: 15px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #11154e;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 40px;
    }
    .menu-icon{
        display: block;
        width: 50px;
        cursor: pointer;
    }
    .hide-on-mobile{
        right: -200px;
    }
}